

<div id="chart" class="container" style="position:absolute;top:100px;left:20px"></div>
<script type="text/javascript">
var data1 = "Istana";
var data2 = "ITE College Central";

$( document ).ready(function(){
  setTimeout(function () {
    chart.load({
      columns: [
        [<%=myData%>], [<%=myData2%>]      ]
    });
  }, 1000);
});
</script>
